In [ ]:
# This note book contains a model for the course of the covid 19 virus.

In [4]:
# Import libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# Import data.

us_states_df = pd.read_csv('C:\\Users\\jtmar\\dev\\Data Science Work\\covid-19-data\\us-states.csv')
us_counties_df = pd.read_csv('C:\\Users\\jtmar\\dev\\Data Science Work\\covid-19-data\\us-counties.csv')
us_df = pd.read_csv('C:\\Users\\jtmar\\dev\\Data Science Work\\covid-19-data\\us.csv')

display(us_states_df.head())
display(us_counties_df.head())
display(us_df.head())

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

         date  cases  deaths
0  2020-01-21      1       0
1  2020-01-22      1       0
2  2020-01-23      1       0
3  2020-01-24      2       0
4  2020-01-25      3       0